<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	
    
    <link rel="stylesheet" type="text/css" href="css/style.css" />


    <script src="js/jquery-acordeon.js"></script>
    <script src="js/jQueryUI.js"></script>

    <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>

</head>
	
	<body >
		 <header>
      <h1 class="float-l">
        <a href="#" title="Titulo do Site">AC-SPORT</a>
      </h1>
      
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
           <a href="/ac-sport" title="Home">Home</a>
          </li>
          <li>
            <a href="/produto/listar" title="Gallery">Gallery</a>
          </li>
          <li>
            <a href="/Contact" title="Contact Form">Contact Form</a>
          </li>
          <li>
            <a href="/about" title="About">About</a>
          </li>
        </ul>
      </nav>
    </header>

			<br>
      <br>
      <br>
      <br>
			


		<div id="tema">	
		
		<hr class="hline"> 

		
		<center><img src="img/logo/log1.png" width="600" height="300"> </center>
		
		  	

  			
		
        <hr>

      
        <div id="accordion">  

        <h3>Quem somos</h3>
   		<div style="color-profile: ">

                <p>O <strong><span style="color:blue">AC-SPORT</span></strong>, Atuante no mercado desde 1993, a Telepesquisa é um guia completo de empresas, produtos e serviços, oferecendo uma diversidade de vantagens para o empresário que quer divulgar o seu negócio e para o consumidor que está em busca de alguma pesquisa ou compra específica.</p>

                <p>Através das suas ferramentas atuais e do uso de novas tecnologias, a Telepesquisa proporciona comodidade à sociedade, além de investir no estreitamento da relação entre o público empresarial e seus potenciais clientes.</p>

                <p>Agilizar o tempo de toda a sociedade, prestando serviços que proporcionem comodidade, com rapidez e segurança, servindo com alegria e entusiasmo.</p>


                <p>Oferecemos soluções aos clientes internos e externos, através da Prestação de Serviços com alto nível de qualidade, visando construir e manter relacionamentos longos com os Clientes e Parceiros, conservando sempre o objetivo de resultados.</p>

              
                <p>Contribuir com a melhoria da Qualidade de Vida das Pessoas e Comunidades onde operamos, convertendo a necessidade por informações dos usuários em oportunidades para os credenciados.</p>

               
        </div>   

                         
            <h3>Missão</h3>
            <div><p>Agilizar o tempo de toda a sociedade, prestando serviços que proporcionem comodidade, com rapidez e segurança, servindo com alegria e entusiasmo.</p></div>

            <h3>Foco no Cliente</h3>
            <div><p>Oferecemos soluções aos clientes internos e externos, através da Prestação de Serviços com alto nível de qualidade, visando construir e manter relacionamentos longos com os Clientes e Parceiros, conservando sempre o objetivo de resultados.</p></div>

              <h3> Valorização das Pessoas </h3>
              <div><p>Assumir o desafio de manter e atrair talentos para integrarem as nossas equipes, estimulando o contínuo crescimento profissional e pessoal dos colaboradores, trabalhando com ENTUSIASMO, paixão e alegria, construindo e mantendo relações de confiança, de lealdade e transparência.</p></div>

              <h3>Localização</h3>  
              <center><div style="column-width:  ">
          <div>
            <h4 class="center-align titulo-h4">Contato</h4>
            <p><h4>Rodovia CE 060, Nº. 350, Bairro Centro<br>
            Quixadá, Ceara, Brazil <br>

            Tel.: (88) 3582-0000 <br> 
            WhatsApp: 9 9269-3475<h4></p></h4></center>

            </div></div>


         </div>

         </div>

<center>
    <h7>
      <a href="#top">Go to the top!</a>
    </h7>

<footer class="preto">
            <div class="conteudo">
               <h5> <p>© 2018 - Page created by Antonio Carlos.</p> </h5>
                <h5> <p>Telefone: (88) 9.9358-4050</p> </h5>

            </div>
        </footer>  </center>     
	</body>
</html>


