<!DOCTYPE html>
<html>
<head>
	<title>Contact Form</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

 
  
</head>
<body>
	<header>
      <h1 class="float-l">
        <a href="#" title="Titulo do Site">AC-SPORT</a>
      </h1>
      
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
           <a href="/ac-sport" title="Home">Home</a>
          </li>
          <li>
            <a href="/produto/listar" title="Gallery">Gallery</a>
          </li>
          <li>
            <a href="/Contact" title="Contact Form">Contact Form</a>
          </li>
          <li>
            <a href="/about" title="About">About</a>
          </li>
        </ul>
      </nav>
    </header>




    <br>
    <br>
    <br>
    <br>
    <h1>Cadastro de Produtos</h1>
    <hr>
    <br>

    <div class="caixa caixa6">
                    
                    <center><form name="formulario" action="/produto/salvar" method="post" enctype="multipart/form-data">

                            <input type="text" name="nome" placeholder="Nome" required="required"> <br><br>
                            
                            <input type="text" name="preco" placeholder="Preço" required="required"> <br><br>
                            
                            <input type="file" name="imagem" required> <br><br>
                            
                            <input type="submit" name="enviar" value="Enviar Mensagem" class="botao botaoGrande botaoVerde bordas"><br><br>

                   
                    </form> </center>
                    
                </div>

<br>
<br>
<br>
<center>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="preto">
            <div class="conteudo">
               <h5> <p>© 2018 - Page created by Antonio Carlos.</p> </h5>
                <h5> <p>Telefone: (88) 9.9358-4050</p> </h5>

            </div>
        </footer>  </center>

</body>
</html>