<!DOCTYPE html>
<html>
  <head>
    <title>AC-Sport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <meta name="description" content="See this example of responsive header without using javascript. Using only html and css. by Palloi Hofmann">
    <meta name="keywords" content="css4html, css+for+html, css 4 html, css4, css4 html, css, css3, html, html5" />

    <meta property="og:image" content="http://palloi.github.io/responsive-header-only-css/assets/images/image-shared.png" />
    <meta property="og:keywords" content="css4html, css+for+html, css 4 html, css4, css4 html, css, css3, html, html5" />
    <meta property="og:description" content="See this example of responsive header without using javascript. Using only html and css. by Palloi Hofmann" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    



  </head>
  <body>
     <br>
    <br>
    <br>
    <header>
      <h1 class="float-l">
        <a href="#" title="Titulo do Site">AC-SPORT</a>
      </h1>
      
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>

      <nav class="float-r">
        <ul class="list-auto">
          <li>
            <a href="/ac-sport" title="Home">Home</a>
          </li>
          <li>
            <a href="/produto/listar" title="Gallery">Gallery</a>
          </li>
          <li>
            <a href="/Contact" title="Contact Form">Contact Form</a>
          </li>
          <li>
            <a href="/about" title="About">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <br>
    <br>
    <br>

   
   
      <div class="slide">

          
          <img src="img/slide/sln1.jpg" alt="imagens" title="nike" class="slideImg1">
          <img src="img/slide/sla1.jpg" alt="imagens" title="Adidas" class="slideImg1">
          <img src="img/slide/sls33.jpg" alt="imagens" title="Seleção" class="slideImg1">
      
        
      </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <h1>Ofertas Do Dia</h1> 
    <hr>
    <br>


      <div class="clearfix">
        
          <div class="img">
            
            <img src="img/galeria/o1.jpeg" alt="Boné Adidas Bayern" style="width:100%">
            <center><h5>Boné Adidas Bayern de Munique Aba Reta</h5></center> 
            <center> De <span style="color:red">R$ 99,90  </span> Por R$ 79,90 </center>
          </div>

          <div class="img">
             
            <img src="img/galeria/o2.jpeg" alt="Calção Flamengo Goleiro" style="width:100%">
            <center><h5>Calção Flamengo Goleiro 2018 Adidas Masculino</h5></center>
            <center> De <span style="color:red">R$ 129,90  </span> Por R$ 89,90</center>
          </div>

          <div class="img">
              
            <img src="img/galeria/o3.jpeg" alt="Bola Futebol Campo Adidas" style="width:100%">
            <center><h5>Bola Futebol Campo Adidas Finale 17 Capitano</h5></center>
            <center> De <span style="color:red">R$ 99,90  </span> Por R$ 79,90</center>
          </div>

          <div class="img">
            
            <img src="img/galeria/o4.jpeg" alt="Camisa Seleção Brasil" style="width:100%">
            <center><h5>Camisa Seleção Brasil I 2018 - Amarelo e Verde</h5></center>
            <center> De <span style="color:red">R$ 299,90  </span> Por R$ 249,90 </center>
          </div>

          <div class="img">
             
            <img src="img/galeria/o5.jpeg" alt="Bola Futebol Campo" style="width:100%">
            <center><h5>Bola Futebol Campo Adidas Finale 17 Capitano</h5></center>
            <center> De <span style="color:red">R$ 99,90  </span> Por R$ 79,90 </center>
          </div>
          
          <div class="img">
          
            <img src="img/galeria/a1.jpeg" alt="Caneleira Puma" style="width:100%">
            <center><h5>Caneleira Puma Evospeed 5.5 - Laranja</h5></center>
            <center> De <span style="color:red">R$ 69,90  </span> Por R$ 49,90 </center>
          </div>
        
        </div>



    


<br>
<br>
<br>
<center>
    <h7>
      <a href="#top">Go to the top!</a>
    </h7>

<footer class="preto">
            <div class="conteudo">
               <h5> <p>© 2018 - Page created by Antonio Carlos.</p> </h5>
                <h5> <p>Telefone: (88) 9.9358-4050</p> </h5>

            </div>
        </footer>  </center>

  </body>
</html>
